[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
djangorestframework = "*"
opencv-python = "*"
numpy = "*"
jupyter = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
litestar = {extras = ["sqlalchemy", "standard"], version = "*"}
pydantic = "*"
aiosqlite = "*"
rich = "*"
jsbeautifier = "*"
alembic = "*"
pydantic-settings = "*"
asyncpg = "*"
install = "*"
advanced-alchemy = "*"

[dev-packages]

[requires]
python_version = "3.10"
