[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
djangorestframework = "*"
opencv-python = "*"
numpy = "*"
jupyter = "*"
uvicorn = {extras = ["standard"], version = "*"}
sqlalchemy = "*"
litestar = "==2.0.0beta4"
pydantic = "*"
aiosqlite = "*"
rich = "*"
jsbeautifier = "*"

[dev-packages]

[requires]
python_version = "3.10"
